.cont {
  padding: 23%;
  text-align: center;
  background: url("https://hackernoon.com/hn-images/1*TYAzzTJ60x-qg5N81ElU9A.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Russo One", sans-serif;
}

.und {
  text-decoration: underline;
}

.back {
  background-color: #0c2926;
}
.rtg {
  float: right;
}
.navbar-light .navbar-brand {
  font-size: 100%;
  border: 3px solid azure;
  padding: 0.5%;
  border-radius: 10%;
  color: azure;
}
#brand:hover {
  font-size: 140%;
  color: yellowgreen;
}
.navlink {
  color: white;
}
#hee {
  text-shadow: 0px, 13%, 25%, black;
  font-weight: 400%;
  color: white;
  font-size: 40%;
}
.tcet {
  text-align: center;
  padding: 5%;
  border: 4px solid rgba(0, 0, 0, 0.6);
  height: 8%;
  margin: 10px;
  float: center;
  transition: transform 300ms ease-in;
}
.tcet:hover {
  background-color: #0c2926;
  transform: translate(0px, 15px);
  color: white;
}
.tcetr {
  float: center;
  padding: 2% 2% 2% 5%;
  size: 80% 80%;
}
.mage {
  width: 60%;
  height: 70%;
  padding: 10%;
}

hr {
  border-top: 2px solid white;
  border-bottom: 1px solid grey;
  width: 40%;
}
.footer {
  text-align: center;
  background-color: #0c2926;
  border: 2px solid black;
  margin: 2%;
  color: white;
}
.hd {
  text-decoration: underline;
  font-size: 300%;
}
